<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>LoginFilter</filter-name>
        <filter-class>Services.LoginFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>LoginFilter</filter-name>
        <url-pattern>/session/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>SGAService</servlet-name>
        <servlet-class>Services.SGAService</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>redoService</servlet-name>
        <servlet-class>Services.redoService</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>tbsService</servlet-name>
        <servlet-class>Services.tbsService</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>transactionService</servlet-name>
        <servlet-class>Services.transactionService</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>Services.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>usersService</servlet-name>
        <servlet-class>Services.usersService</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>Services.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DBInfoService</servlet-name>
        <servlet-class>Services.DBInfoService</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SGAService</servlet-name>
        <url-pattern>/session/SGAService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>redoService</servlet-name>
        <url-pattern>/session/redoService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>tbsService</servlet-name>
        <url-pattern>/session/tbsService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>transactionService</servlet-name>
        <url-pattern>/session/transactionService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>usersService</servlet-name>
        <url-pattern>/session/usersService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DBInfoService</servlet-name>
        <url-pattern>/DBInfoService</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            0
        </session-timeout>
    </session-config>
</web-app>
